<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
  <video poster="/img/hometop.jpg" id="bgvid" playsinline autoplay muted loop>
  <source src="/vid/Galaxy6.webm" type="video/webm">
  <source src="/vid/Galaxy6.m4v" type="video/m4v">
  </video>
  <div id="confirm">
  <h1>Thank You For Signing Up! Enjoy the music!</h1>
</div>
<script>
setTimeout(function () {
   window.location.href = "/login"; //will redirect to your blog page (an ex: blog.html)
}, 2000); //</script>
